.product-view-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1.7fr 1.3fr;
  .product-view__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    .main-image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tabs-images {
      display: flex;
      align-items: center;
      justify-content: center;
      img{
          margin: 5px;
      }
    }
  }
}
