.footer {
  color: #888888;
  background-color: #F2F2F2;
  & .container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  & .footer__retailer {
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
  }
  & .footer__sub-text {
    padding: 10px 0;
    font-size: 12px;
  }
  & .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    &__item {
      padding-left: 35%;
      text-align: left;
      & ul{
          margin-left: 0;
          padding-left: 0;
        & li {
          list-style-type: none;
          & a {
            color: #888888;
            font-size: 12px;
            text-decoration: none;
          }
        }

      }

    }
  }
}