@import '/static/fonts/SanFrancisco/stylesheet.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 7vh;
  font-family: 'SF UI Text', serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
