.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 45px;
  background-color: #000;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.burger-button {
display: none;
  width: 50px;
  height: 50%;
  color: white;
  background-color: #000;
  border: none;
  outline: none;
}

.close-line {
  width: 20px;
  height: 2px;
  background-color: #fff;
}

.burger-button-close {
  position: absolute;
  top: 40px;
  right: 15px;
  width: 10%;
  color: #fff;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.logo {
  margin: 0;
}
.collapse-menu {
  display: none;
}

@media (min-width: 481px) and (max-width: 767px) {

  .collapse-menu {
    display: block;
  }

  .logo {
    margin-left: 30px;
  }

  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .collapse-menu {
    display: block;
  }

  .logo {
    margin-left: 30px;
  }

  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


