.order-item {
  padding: 15px 0;

  &__collapsible {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px;
    color: #000;
    background-color: #d6d6d6;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    cursor: pointer;
    transition: .5s linear;
  }

  &--active, &__collapsible:hover {
    color: #fff;
    background-color: #000;
  }

  &__collapsible:after {
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    content: '\002B';
  }

  &--active:after {
    content: "\2212";
  }

  &__content {
    max-height: 0;
    padding: 0 18px;
    overflow: hidden;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    transition: max-height .5s ease-out;
  }

  &__content-show {
    max-height: 300px;
  }

  &__order-number, &__order-date {
    font-size: 18px;
  }
}

.payment-story-product-list {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 100px;
  padding: 15px 0;
  border-right: 1px solid #d6d6d6;

  &__item-wrapper {
    display: flex;
  }

  &__item {
    display: flex;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px dashed #d6d6d6;

    &__image-wrapper {
      width: 90px;
      height: 80px;

      &--image {
        height: 100%;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 15px;

      &__product-title {

        &__text {
          color: #3e77aa;
          font-size: 18px;
        }
      }

      &__product-detail {
        display: flex;
        justify-content: space-between;

        &__price, &__quantity, &__total-product-price {
          font-size: 20px;
        }

      }
    }

    &__total-wrapper {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0 15px;
    }
    &__total-price {
      margin: 0 20px;
      font-size: 20px;
    }
  }
}

.payment-story-product-list-item-status {
  width: 30%;
  padding: 15px;

  &__success {
    color: #00a046;
  }

  &__fail {
    color: #ac313a;
  }
}

@media screen and (max-width: 576px) {
  .payment-story-product-list {

    &__item {
      flex-direction: column;

      &__image-wrapper {
        align-self: center;
      }

      &__details {

        &__product-title {
          align-self: center;
        }
      }
    }
  }
}

@media screen and (max-width: 481px) {
  .order-item {

    &__order-number, &__order-date {
      font-size: 15px;
    }
  }

    .payment-story-product-list {

    &__item {
      flex-direction: column;

      &__details {

        &__product-title {
          &__text {

          font-size: 16px;
          }
        }

        &__product-detail {
          flex-direction: column;

          &__price {
            align-self: center;
          }
          &__quantity, &__total-product-price {
            align-self: flex-end;
          }
          &__price, &__quantity, &__total-product-price {
            padding: 10px 0;
            font-size: 16px;
          }
        }

      }

      &__total-wrapper {
        justify-content: center;
        padding: 0;
      }
      &__total-price {
        margin: 0;
        font-size: 16px;
      }
    }
  }
}