.shipping {
  &__title {
    margin-top: 50px;
  }
  &__subtitle {
    margin-top: 30px;
  }
  &__form {
    align-items: flex-start;
  }
  &__button {
    margin: 20px 0;
    padding: 17px 165px;
    color: white;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient( 156.8deg,  rgba(30,144,231,1) 27.1%, rgba(67,101,225,1) 77.8% );
    border-radius: 5px;
  }
}

input {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 18px;
}

::placeholder {
  padding-left: 20px;
  font-size: 18px;
}