.filter {
  display: flex;
  &__reset {
    width: 15%;
  }
  &__tabs {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    width: 100%;
  }
  &__reset-btn {
    width: fit-content;
    padding: 5px 10px;
    color: #000000b3;
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      color: #000;
    }
  }
  &__block {
    padding: 5px;
  }
  &__title {
    margin: 0 0 10px;
    font-weight: 400;
  }
  &__items-wrapper {
    display: flex;flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item{
    padding: 2px 0;
    color: #000000b3;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      color: #000;
    }
    &.active {
      color: #000;
      font-weight: 500;
    }
  }
}

.Collapsible {
  margin-bottom: 30px;
  &__trigger {
    cursor: pointer;
  }
  &__contentInner {
    padding: 10px;
    background-color: #eee;
  }
}

@media (max-width: 880px) {
  .filter {
    flex-direction: column;
    align-items: center;
    &__tabs {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }
    &__block {
      text-align: center;
    }
    &__reset {
      width: auto;
      margin-bottom: 10px;
      text-align: center;
      background-color: #4d4b4b;
      border-radius: 6px;
      &-btn {
        padding: 3px 150px;
        color: #d2d2d2;
        border-radius: 6px;
        &:hover {
          color: #d2d2d2;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .filter__tabs {
    grid-template-columns: 1fr;
  }

  .filter__reset-btn {
    padding: 3px 100px;
  }
}