.home-page-wrapper {
  animation-name: card;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  @keyframes card {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.content-watch {
  display: flex;
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.content-watch:nth-child(even) .img-wrap {
  order: 2;
}

.content-watch:nth-child(even) .text-wrap {
  order: 1;
}

.img-wrap {
  width: 50%;
  text-align: center;
}

.text-wrap {
  width: 50%;
}

.text-wrap__content {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.image {
  width: 75%;
}

.image-link {
  display: inline-block;
  padding: 5px 20px;
  color: white;
  font-size: 15px;
  background-color: #0071e3;
  border-radius: 3px;
}

.slider-image-wrapper {
  width: 100%;
  height: 100%;
}

.slider-image {
  height: 100%;
  object-fit: cover;
}

.slider {
  max-height: 80vh;
}

@media (max-width: 768px) {
  .text-wrap__content {
    font-size: 18px;
  }

  .content-watch {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .wrap-for-img .content-watch .img-wrap {
    order: 1;
    width: 100%;
  }

  .wrap-for-img .content-watch .text-wrap {
    order: 2;
    width: 100%;
  }

  .image-link {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .text-wrap__content {
    font-size: 15px;
  }

  .image {
    width: 50%;
  }

  .image-link {
    font-size: 12px;
  }
}
