.content-watch {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
}

.content-watch:nth-child(even) .img-wrap {
  order: 2;
}

.content-watch:nth-child(even) .text-wrap {
  order: 1;
}

.img-wrap {
  width: 50%;
  text-align: center;
}

.text-wrap {
  width: 50%;
}

.text-wrap__content {
  display: block;
  padding: 10px 0;
  text-align: left;
}

.image {
  width: 75%;
}

.image-link {
  display: inline-block;
  padding: 5px 20px;
  color: white;
  font-size: 12px;
  background-color: #0071e3;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .text-wrap__content {
    font-size: 12px;
  }
}
