.change-information-form {
  min-width: 270px;
  max-width: 800px;
  margin: auto;
}

.change-information-title {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #F2F2F2;
}

.change-information-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.form-group {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #e7e7e8;
}

.error-message {
  color: red;
}

.label-text {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 1;
  color: #4d4b4b;
  font-size: 17px;
  opacity: .5;
  -webkit-transition: top .2s ease-in-out,  font-size .2s ease-in-out;
  transition: top .2s ease-in-out,  font-size .2s ease-in-out;
}

.label-active {
  top: 7px;
  font-size: 14px;
}

.required-field {
  margin-left: 3px;
  color: #cc1b1b;
  font-weight: 700;
}

.hidden-field {
  display: none;
}

.options-container {
  width: 70%;
  min-width: 270px;
  height: 82px;
  margin: auto;
}

.select-options {
  width: 100%;
  height: 30px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-style {
  position: relative;
  width: 100%;
  height: 60px;
  padding-top: 18px;
  padding-left: 15px;
  font-size: 19px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}

.input-style[type=number]::-webkit-inner-spin-button,
.input-style[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.buttons-container {
  min-width: 300px;
}

.button {
  min-width: 120px;
  margin: 10px 10px 0;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.edit-btn {
  color: #eee;
  background-color: black;
}
.go-back-btn {
   background-color: #F2F2F2;
 }

.err-popup {
  margin: 5px;
  padding: 3px;
  color: rgb(114, 28, 36);
  background-color: rgb(248, 215, 218);
  border: 1px solid rgb(245, 198, 203);
  border-radius: 5px;
}


.message {

  &__background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .5);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: #eee;
  }

  &__updated-user {
    color: green;
  }
  &__error-update-user {
    color: #ac313a;
  }
}
