.search {
  display: flex;
  justify-content: center;
  width: 40%;
  &__input {
    width: 100%;
    padding: 5px ;
    color: white;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
  }
}