.container-cart {
  padding-bottom: 7vh;
  & .wrap-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  & .cart-title {
    margin-bottom: 3vh;
  }
    & .img-empty-cart {
      width: 1200px;
      height: 50vh;
      background-image: url("/static/img/cart/apple-cart.jpg");
      background-size: cover;
    }
  }
}