.slick-slide img {
  width: 100%;
}

.slick-arrow {
  z-index: 10;;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 15px;
}

.slick-next {
  right: 15px;
}

.slick-prev:before {
  display: block;
  width: 0;
  height: 0;
  margin-left: 45%;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
  border-bottom: 10px solid transparent;
  transform: translateX(-50%);
  content: '';
}

.slick-prev:focus, .slick-prev:hover, .slick-next:focus, .slick-next:hover {
  background: rgba(0,0,0,.3);
}

.slick-next:before {
  display: block;
  width: 0;
  height: 0;
  margin-left: 50%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  transform: translateX(-50%);
  content: '';
}

.slick-prev:before .slick-next:before {
  font-size: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: max-content;
  max-height: max-content;
  margin: 0;
  padding: 2px;
  border-radius: 20px;
  transform: translateX(-50%);
}

.slick-dots li button:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, .5);
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  content: '';
}

.slide {
  position: relative;
  outline: none;
}

.text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  h2 {
    font-size: 38px;
    text-align: left;
  }
  p {
    font-size: 24px;
  }
}
