.extras {
  display: flex;
  align-items: center;
  &__image {
    width: 20px;
    height: auto;
    padding: 0 15px;
    cursor: pointer;
    transition: all .3s;
    fill: #fff;
    stroke: #fff;
    stroke-width: 15;
    &:hover {
      fill: #979797;
      stroke: #979797;
    }
  }
}
