input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(210, 215, 211, 1);

  &__image {
    width: 250px;
    height: 250px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
  }

  &__input-group {
    display: flex;
  }

  &__details {
    font-size: 18px;
  }

  &__input-button {
    width: 50px;
    padding: 0;
    background-color: rgba(210, 215, 211, 1);
  }

  &__input-value {
    width: 50px;
  }

  &__price-block {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__remove-link {
    display: flex;
    align-self: center;
    margin-top: 10px;
    color: #337DFF;
    font-size: 18px;
    text-decoration: underline;

  }
}