.wrap-full-cart {
  & .full-cart__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 7vh;
    & .wrap-full-price {
      display: flex;
      justify-content: space-between;
      & .value-price {
        padding: 3px 11px;
        font-size: 14px;
        &::before {
          font-size: 14px;
          content: "$";
        }
      }
      & .check-out-btn {
        min-width: 20px;
        padding: 3px 11px;
        color: white;
        font-size: 12px;
        background: linear-gradient(to top, #4AA4EC, #0D7ECF);
        border: 1px solid #0D7ECF;
        border-radius: 18px;
      }
    }
  }
  & .product-selected {
    & .main-title-full-cart {
      padding-bottom: 7vh;
      font-weight: 600;
      font-size: 40px;
      line-height: 1.1;
    }
    & .product-selected__item {
      display: flex;
      justify-content: space-between;
      padding-bottom: 7vh;
      & .product-selected__item--wrap-img {
        width: 27%;
        & .product-selected__item--img{
          width: 60%;
          margin-right: 5vw;
        }
      }
      & .wrap-section-product-selected{
        display: flex;
        flex-direction: column;
        width: 73%;
        & .section-product-selected-title {
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          font-size: 24px;
          & .product-selected__title {
            font-weight: 600;
            font-size: 24px;
          }
          & .product-selected__quantity {
            width: 3vw;
            height: 3vh;
            font-weight: 600;
            font-size: 24px;
            border: 0;
          }
          & .product-selected__price {
          }
        }
        }
      & ul {
        padding-left: 3%;
        & .section-product-selected {
          padding-top: 3vh;
          font-size: 18px;
          text-align: left;
        }
      }
    }
  }
  & .total-price {
    display: flex;
    justify-content: space-between;
    padding: 3vh 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
  }
  & .wrap__buy-btn {
    text-align: right;
    & .buy-btn {
      display: inline-block;
      min-width: 20px;
      padding: 20px 50px;
      color: white;
      font-size: 22px;
      background: linear-gradient(to top, #4AA4EC, #0D7ECF);
      border: 1px solid #0D7ECF;
      border-radius: 10px;
    }

  }
}

.bottom-line {
  padding-bottom: 3vh;
  border-bottom: 1px solid #D8D8D8;
}