.logo {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  &__image {
    width: 33px;
    height: auto;
    transition: all .3s;
    fill: #fff;
    &:hover {
      fill: #979797;
    }
  }
}
