.main-menu {
  display: flex;
  height: 7vh;
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    &:hover{
      color:#979797;
    }
  }
}
