.main-menu {
  display: flex;
  height: 100%;

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: #979797;
    }

    &.active {
      color: #979797;
    }
  }
}

@media (max-width: 767px) {
  .collapse-menu {
    position: absolute;
    top: 96%;
    left: 0;
    width: 100%;
  }

  .main-menu {
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    background-color: #000;

    &__item {
      justify-content: center;
      width: 100%;
      height: 10%;
      font-size: 25px;
    }
  }
}
