@media (min-width: 767px) {
  .main-menu {
    display: flex;

    &__item {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 11px 20px;
      color: #fff;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        color: #979797;
      }

      &.active {
        color: #979797;
        border: 1px dotted  #979797;
      }
    }
  }
}


@media (max-width: 767px) {
  .main-menu {
    display: none;
  }
}