.check-out {
  &__title-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(210, 215, 211, 1);
  }
  &__button {
    color: darkred;
    font-size: 16px;
    text-decoration: underline;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}

///*
//  ##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px
//*/
@media (min-width: 768px) and (max-width: 1024px) {
  .check-out {
    &__button {
    }
  }
}

/*
//  ##Device = Low Resolution Tablets, Mobiles (Landscape)
//  ##Screen = B/w 481px to 767px
//*/

@media (min-width: 481px) and (max-width: 767px) {
  .check-out {
    &__title-block {
      font-size: 13px;
    }
    &__button {
      display: none;
    }
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .check-out {
    &__title-block {
      font-size: 13px;
    }
    &__button {
      display: none;
    }
  }
}